<breadcrumb links="'Home:app|Articles'"></breadcrumb>

<ul class="nav nav-tabs">
	<li class="active"><a ui-sref="app.articleinfo">Articles</a></li>
	<li><a ui-sref="app.properties">Properties</a></li>
	<li><a ui-sref="app.commentinfo">Comments</a></li>
	<li><a ui-sref="app.estimateinfo">Estimates</a></li>
	<li ng-show="hasAdminStatus()"><a ui-sref="app.userinfo">Users</a></li>
	<li ng-show="hasAdminStatus(1)"><a ui-sref="app.complaintinfo">Complaints</a></li>
</ul>

<div class="tab-content">
	<div id="articles" class="active tab-pane fade in">
		<div class="container">
			<br />
			<div class="row" ng-show="hasAdminStatus()">
				<div class="col-xs-12">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<label class="panel-title">The other users' articles</label>
						</div>
						<div class="panel-body">
							<div class="col-xs-12 col-sm-9">
								<div class="panel panel-info">
									<div class="panel-heading pointer" data-target="#publicFilters" data-toggle="collapse">
										<label class="panel-title">Filters</label>
									</div>
									<div class="panel-body fade collapse" id="publicFilters">
										<form class="form-inline" ng-submit="getFilteredArticles(1)">
											<div class="form-group input-group">
												<span class="input-group-addon glyphicon glyphicon-search"></span>
												<input type="search" class="input-sm" ng-model="filterPublic.text" placeholder="Name or Description" />
												<input type="search" class="input-sm" ng-model="filterPublic.author" placeholder="Author" />
												<input type="search" class="input-sm" ng-model="filterPublic.assignedTo" placeholder="Assigned to" />
												<input type="search" class="input-sm" ng-model="filterPublic.tags" placeholder="Tags" />
											</div>
											<div class="form-group input-group">
												<span title="Insert date period" class="input-group-addon glyphicon glyphicon-calendar"></span>
												<input type="date" class="input-sm" ng-model="filterPublic.dateStart" />
												<input type="date" class="input-sm" ng-model="filterPublic.dateEnd" />
											</div>
											<div class="form-group input-group">
												<span title="Status" class="input-group-addon glyphicon glyphicon-stats"></span>
												<select class="input-sm" ng-model="filterPublic.status" placeholder="Status">
													<option value="" selected>-</option>
													<option ng-repeat="s in statuses" value="{{s}}">{{getArticleStatusCaption(s)}}</option>
												</select>
											</div>
											<button type="submit" class="btn btn-success">Search</button>
										</form>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-9 btn-group btn-group-sm">
								<a click-disabled="sending || !selectedArticle" ui-sref="app.articleedit({id:selectedArticle.id})" ng-disabled="sending || !selectedArticle" title="Review" type="button" class="btn btn-default">
									<span class="glyphicon glyphicon-edit"></span>
								</a>
								<a click-disabled="sending || !selectedArticle" ui-sref="app.articleview({id:selectedArticle.id})" ng-disabled="sending || !selectedArticle" title="Show" type="button" class="btn btn-default">
									<span class="glyphicon glyphicon-picture"></span>
								</a>
								<button ng-disabled="sending || !selectedArticle" title="Show article history" type="button" class="btn btn-default" ng-click="showHistory(selectedArticle)">
									<span class="glyphicon glyphicon-time"></span>
								</button>
								<button ng-disabled="sending || !selectedArticle || !isForAssign() || selectedArticle.assignedToId" title="Assign to me" type="button" ng-click="assignArticle(selectedArticle)" class="btn btn-default">
									<span class="glyphicon glyphicon-check"></span>
								</button>
								<button ng-disabled="sending || !selectedArticle || selectedArticle.assignedToId != ui.id" title="Withdraw from my assignments" ng-click="unassignArticle(selectedArticle)" type="button" class="btn btn-default">
									<span class="glyphicon glyphicon-share"></span>
								</button>
								<button title="Show all articles" type="button" class="btn btn-default" ng-click="showMine = false">
									<span class="glyphicon glyphicon-eye-open"></span>
								</button>
								<button title="Show the articles assigned to me" type="button" class="btn btn-default" ng-click="showMine = true">
									<span class="glyphicon glyphicon-eye-close"></span>
								</button>
							</div>
							<div class="col-xs-12 col-sm-9">
								<table class="table table-hover table-striped">
									<tr>
										<th>#</th>
										<th><sort-btn name="'Id'" col-index="6" cur-col-index="curPublicCol" asc="curPublicColAsc" fn-click="sortPublicArticles"></sort-btn></th>
										<th><sort-btn name="'Name'" col-index="0" cur-col-index="curPublicCol" asc="curPublicColAsc" fn-click="sortPublicArticles"></sort-btn></th>
										<th><sort-btn name="'Date'" col-index="7" cur-col-index="curPublicCol" asc="curPublicColAsc" fn-click="sortPublicArticles"></sort-btn></th>
										<th><sort-btn name="'Tags'" col-index="2" cur-col-index="curPublicCol" asc="curPublicColAsc" fn-click="sortPublicArticles"></sort-btn></th>
										<th><sort-btn name="'Writer'" col-index="1" cur-col-index="curPublicCol" asc="curPublicColAsc" fn-click="sortPublicArticles"></sort-btn></th>
										<th><sort-btn name="'Assigned to'" col-index="3" cur-col-index="curPublicCol" asc="curPublicColAsc" fn-click="sortPublicArticles"></sort-btn></th>
										<th><sort-btn name="'State'" col-index="4" cur-col-index="curPublicCol" asc="curPublicColAsc" fn-click="sortPublicArticles"></sort-btn></th>
									</tr>
									<tr ng-show="!showMine || a.assignedToId == ui.id" ng-repeat="a in publicArticles" ng-class="{'text-primary': selectedArticle.id == a.id}" ng-click="selectArticleRow(a)">
										<td>{{$index+1}}</td>
										<td>{{a.id}}</td>
										<td><limited-val value="a.name" length="50"></limited-val></td>
										<td>{{a.insertDate|date:'medium'}}</td>
										<td><limited-val value="a.tags" length="15"></limited-val></td>
										<td>{{getUserName(a.authorId)}}</td>
										<td>{{getUserName(a.assignedToId)}}</td>
										<td>{{getArticleStatusCaption(a.status)}}</td>
									</tr>
								</table>
								<pagination pages="publicArtPages" cur-page="curPublicArtPage" fn-next-page="goToArticlePage" add-param="true"></pagination>
							</div>
							<div class="col-sm-3">
								<div class="panel panel-info" ng-show="selectedArticle">
									<div class="panel-heading pointer" data-toggle="collapse" data-target="#otherArticleInfo">
										<span class="panel-title">Basic Information</span>
									</div>
									<div style="overflow:hidden" class="panel-body fade in" id="otherArticleInfo">
										<ul>
											<li ng-show="isApproved(selectedArticle)"><strong>The number of comments: <span class="text-info">{{getCommentCount(selectedArticle)}}</span></strong></li>
											<li ng-show="isApproved(selectedArticle)"><strong>Rating: <span ng-class="{'text-success':estimate >= 0,'text-danger': 0 > estimate}">{{getEstimate(selectedArticle)}}</span></strong></li>
											<li><strong>Description: <span class="text-info">{{selectedArticle.description}}</span></strong></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<label class="panel-title">Your articles</label>
						</div>
						<div class="panel-body">
							<div class="col-xs-12 col-sm-9">
								<div class="panel panel-info">
									<div class="panel-heading pointer" data-target="#privateFilters" data-toggle="collapse">
										<label class="panel-title">Filters</label>
									</div>
									<div class="panel-body fade collapse" id="privateFilters">
										<form class="form-inline" ng-submit="getFilteredArticles()">
											<div class="form-group input-group">
												<span class="input-group-addon glyphicon glyphicon-search"></span>
												<input type="search" class="input-sm" ng-model="filterPrivate.text" placeholder="Name or Description" />
												<input type="search" class="input-sm" ng-model="filterPrivate.assignedTo" placeholder="Assigned to" />
												<input type="search" class="input-sm" ng-model="filterPrivate.tags" placeholder="Tags" />
											</div>
											<div class="form-group input-group">
												<span title="Insert date period" class="input-group-addon glyphicon glyphicon-calendar"></span>
												<input type="date" class="input-sm" ng-model="filterPrivate.dateStart" />
												<input type="date" class="input-sm" ng-model="filterPrivate.dateEnd" />
											</div>
											<div class="form-group input-group">
												<span title="Status" class="input-group-addon glyphicon glyphicon-stats"></span>
												<select class="input-sm" ng-model="filterPrivate.status" placeholder="Status">
													<option value="" selected>-</option>
													<option ng-repeat="s in statuses" value="{{s}}">{{getArticleStatusCaption(s)}}</option>
												</select>
											</div>
											<button type="submit" class="btn btn-success">Search</button>
										</form>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-9 btn-group btn-group-sm">
								<a click-disabled="sending || selectedPArticle.length != 1" ui-sref="app.articleedit({id:selectedPArticle[0].id})" ng-disabled="sending || selectedPArticle.length != 1" title="Edit" class="btn btn-default">
									<span class="glyphicon glyphicon-edit"></span>
								</a>
								<a click-disabled="sending || selectedPArticle.length != 1" ui-sref="app.articleview({id:selectedPArticle[0].id})" ng-disabled="sending || selectedPArticle.length != 1" title="Show" type="button" class="btn btn-default">
									<span class="glyphicon glyphicon-picture"></span>
								</a>
								<button ng-disabled="sending || selectedPArticle.length != 1" title="Show article history" type="button" class="btn btn-default" ng-click="showHistory(selectedPArticle[0])">
									<span class="glyphicon glyphicon-time"></span>
								</button>
								<button ng-disabled="sending || !selectedPArticle.length" title="Remove" type="button" class="btn btn-default" ng-click="removeArticle()">
									<span class="glyphicon glyphicon-remove"></span>
								</button>								
							</div>
							<div class="col-xs-12 col-sm-9">
								<table class="table table-hover table-striped">
									<tr>
										<th>#</th>
										<th><sort-btn name="'Id'" col-index="6" cur-col-index="curPrivateCol" asc="curPrivateColAsc" fn-click="sortArticles"></sort-btn></th>
										<th><sort-btn name="'Name'" col-index="0" cur-col-index="curPrivateCol" asc="curPrivateColAsc" fn-click="sortArticles"></sort-btn></th>
										<th><sort-btn name="'Date'" col-index="7" cur-col-index="curPrivateCol" asc="curPrivateColAsc" fn-click="sortArticles"></sort-btn></th>
										<th><sort-btn name="'Tags'" col-index="2" cur-col-index="curPrivateCol" asc="curPrivateColAsc" fn-click="sortArticles"></sort-btn></th>
										<th><sort-btn name="'Assigned to'" col-index="3" cur-col-index="curPrivateCol" asc="curPrivateColAsc" fn-click="sortArticles"></sort-btn></th>
										<th><sort-btn name="'State'" col-index="4" cur-col-index="curPrivateCol" asc="curPrivateColAsc" fn-click="sortArticles"></sort-btn></th>
									</tr>
									<tr ng-repeat="a in privateArticles" ng-class="{'text-primary': hasSelectedPArticle(a.id)}" ng-click="selectPArticleRow(a)">
										<td>{{$index+1}}</td>
										<td>{{a.id}}</td>
										<td><limited-val value="a.name" length="50"></limited-val></td>
										<td>{{a.insertDate|date:'medium'}}</td>
										<td><limited-val value="a.tags" length="15"></limited-val></td>
										<td>{{getUserName(a.assignedToId)}}</td>
										<td>{{getArticleStatusCaption(a.status)}}</td>
									</tr>
								</table>
								<pagination pages="privateArtPages" cur-page="curPrivateArtPage" fn-next-page="goToArticlePage"></pagination>
							</div>
							<div class="col-sm-3">
								<div class="panel panel-info" ng-show="selectedPArticle.length == 1">
									<div class="panel-heading pointer" data-toggle="collapse" data-target="#yourArticleInfo">
										<span class="panel-title">Basic Information</span>
									</div>
									<div style="overflow:hidden" class="panel-body fade in" id="yourArticleInfo">
										<ul>
											<li ng-show="isApproved(selectedPArticle[0])"><strong>The number of comments: <span class="text-info">{{getCommentCount(selectedPArticle[0])}}</span></strong></li>
											<li ng-show="isApproved(selectedPArticle[0])"><strong>Rating: <span ng-class="{'text-success':pEstimate >= 0,'text-danger': 0 > pEstimate}">{{getEstimate(selectedPArticle[0],true)}}</span></strong></li>
											<li><strong>Description: <span class="text-info">{{selectedPArticle[0].description}}</span></strong></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container">
		<loading msg="msg" sending="sending" is-error="isError"></loading>
	</div>
</div>